<div id="socialmedia" class="socialmedia">
  
    <div id="demo" class="carousel slide " data-bs-ride="carousel">
  
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>
  
      <!-- The slideshow/carousel -->
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <img src="/assets/img/ivr/bg-1.jpg" alt="Los Angeles" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/ivr/bg-2.jpg" alt="Chicago" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/ivr/bg-3.jpg" alt="New York" class="d-block w-100">
        </div>
      </div>
  
      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
  </div>
  
  
  
      <section class="section-bg">
        <div class="container">
          <div class="section-title">
            <h3>Social Media</h3>
          </div>
          

          <div class="row justify-content-center">
            <div class="col-xl-10">           
  
              <ul class="faq-list">
  
                <li>
                  <div data-bs-toggle="collapse" class="collapsed question" href="#que1">Build Relationship with Customer <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                  <div id="que1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        With Social Media Customer Service 
                        Solutions personalize your conversation
                        with customers and make it convenient 
                        for them to reach you. Delight them 
                        with quick response and inspire loyalty.
                                     </p>
                  </div>
                </li>
    
                <li>
                  <div data-bs-toggle="collapse" href="#que2" class="collapsed question">Gain Valuable Insights <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                  <div id="que2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Engage with your customers and 
                        interact with them on social media. 
                        Reduce the login time into any 
                        channel and manage these activities 
                        on the unified agent desktop.
                    </p>
                  </div>
                </li>
    
                <li>
                  <div data-bs-toggle="collapse" href="#que3" class="collapsed question">Handle Issues Efficiently<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                  <div id="que3" class="collapse" data-bs-parent=".faq-list">
                    
                    <p>
                        Social Media Customer Service 
Solutions allows add notes to the 
conversations to reduce waiting 
time and quickly get the context of 
the conversation, this helps the 
agents resolve the issue faster.
                    </p>
                    
                    
                  </div>
                </li>
    
                
  
  
  
                    
              </ul>
    
            </div>
          </div>
  
  
        </div>
  
      </section>
    
      
  </div>