<div id="inbound" class="ivr">
  
  <div id="demo" class="carousel slide " data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>

    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <img src="/assets/img/ivr/bg-11.jpeg" alt="Los Angeles" class="d-block w-100 ">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/ivr/bg-12.jpeg" alt="Chicago" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/ivr/bg-13.jpeg" alt="New York" class="d-block w-100 ">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/ivr/bg-14.jpeg" alt="New York" class="d-block w-100">
      </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
</div>



    <section class="section-bg">
      <div class="container">
        <div class="section-title">
          <h3>Interactive Voice Response</h3>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">           

            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#que1">What is IVR? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                <div id="que1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Interactive Voice Response (IVR) is a technology to automate your inbound calls by allowing businesses to interact with customers through pre-recorded voice messages with DTMF input using a keypad. An IVR system interacts with callers, gathers some essential information, and routes call to the appropriate agents.                  </p>
                </div>
              </li>
  
              <li>
                <div data-bs-toggle="collapse" href="#que2" class="collapsed question">Why Do Businesses Need IVR? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                <div id="que2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    There are a number of benefits of an IVR software solution for different industries. For eg. A banking IVR can be used by customers to know their bank balance while freeing the customer service executive time to manage critical queries. Among others, an IVR solution helps to increase customer service efficiency, handle incoming call spikes, boost customer satisfaction when complemented with auto call backs. If set up correctly it can uplift your customer experience.
                  </p>
                </div>
              </li>
  
              <li>
                <div data-bs-toggle="collapse" href="#que3" class="collapsed question">What are different types of IVR System? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                <div id="que3" class="collapse" data-bs-parent=".faq-list">
                  <div class="list">
                    <h6>IVR FOR SELF-SERVICE</h6>
                  <p>
                      An IVR System or automated voice 
  allows businesses to service high 
  call volumes at a lower cost. It can 
  identify and route callers, and resolve 
  their queries without transferring 
  to a live agent. Calls are transferred 
  to live agents only when the caller 
  requires further assistance
                  </p>
                  <h6>HOSTED IVR</h6>
                  <p>
                    When an IVR solution is installed 
                    on a hosted software platform, 
                    it allows businesses to access the 
                    IVR application on the internet. This 
                    enables businesses to deliver 24/7 
                    customer service, even after office 
                    hours. It helps you gain loyalty 
                    and improve customer satisfaction 
                    rates.
                    
                  </p>
                  <h6> AGENT-ASSISTED IVR</h6>
                  <p>
                    An agent-assisted IVR software 
                    helps a contact center to optimize 
                    its operational costs while delivering 
                    consistent customer service. The 
                    agent can dynamically direct 
                    pre-recorded messages to initiate 
                    a conversation with the customer, 
                    without the customer knowing about 
                    the agent’s involvement.
                    
                    
                  </p>


                  </div>
                  
                </div>
              </li>
  
              <li>
                <div data-bs-toggle="collapse" href="#que4" class="collapsed question">When Do Businesses Use an IVR Number? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                <div id="que4" class="collapse" data-bs-parent=".faq-list">
                  <div class="list">
                    <h6>Automate Customer Care</h6>
                  <p>
                    Provide the callers with an 
                    option to self-serve while 
                    automating routine queries
                  </p>
                  <h6>Collect Feedback</h6>
                  <p>
                    An IVR dialer is an effective 
channel to gather callers’ 
feedback or run a survey  
                  </p>

                  <h6> After Hours Customer Support</h6>
                  <p>
                    Play a pre-recorded message 
mentioning you are closed 
and your office timings 
for post office hours calls </p>

                  <h6> Personalized Experience</h6>
                  <p>
                    Customize your IVR flow and 
messaging based on callers’ 
region, transaction history, 
or other relevant factors</p>

<h6>Reduce Operational Costs</h6>
                  <p>
                    IVR systems replace a 
receptionist or a customer 
service agent who answers 
calls and directs calls to 
agents </p>

<h6> Improve First Call Resolution</h6>
                  <p>
                    Direct callers to the most 
appropriate department and 
qualified agent to avoid call 
transfer and increase 
customer satisfaction </p>



                  </div>
                  
                </div>
              </li>
  
            </ul>
  
          </div>
        </div>


      </div>

    </section>
  
    
</div>