<div id="ivr">
    <main id="main">
        <section class="section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>IVR</h2>
                    <h3><span>Interactive Voice Response</span></h3>
                    
                </div>
                <div class="section-content">
                    <h6>What is IVR?</h6>
                    <p>Interactive Voice Response (IVR) is a technology to automate your inbound calls by allowing businesses to interact with customers through pre-recorded voice messages with DTMF input using a keypad. An IVR system interacts with callers, gathers some essential information, and routes call to the appropriate agents.</p>
                </div>
               

                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="bold">Bold</mat-button-toggle>
                    <mat-button-toggle value="italic">Italic</mat-button-toggle>
                    <mat-button-toggle value="underline">Underline</mat-button-toggle>
                </mat-button-toggle-group>
    
            </div>
        </section>
    </main>
</div>




