<div id="outbound" class="outbound">
    <div id="demo" class="carousel slide " data-bs-ride="carousel">
  
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>
  
      <!-- The slideshow/carousel -->
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <img src="/assets/img/ivr/bg-1.jpg" alt="Los Angeles" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/ivr/bg-2.jpg" alt="Chicago" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/ivr/bg-3.jpg" alt="New York" class="d-block w-100">
        </div>
      </div>
  
      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
  </div>
      
        <section class="section-bg">
          <div class="container">
            <div class="section-title">
              <h3>Outbound</h3>
            </div>
    
            <div class="row justify-content-center">
              <div class="col-xl-10">           
    
                <ul class="faq-list">
                    <li>
                        <div data-bs-toggle="collapse" href="#que1" class="collapsed question">What is an Outbound Call Center Software?<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                        <div id="que1" class="collapse" data-bs-parent=".faq-list">
                          <div class="list">
                            
                          <p>
                            An outbound call center is the one where the agents dial out calls for purposes such as telemarketing, telesales, collections, etc. An outbound call center software simplifies and boosts this by automating dialing, filtering answering machines while providing the agents with an option to click to dial a contact number. All these and other outbound call center features combine to increase agent productivity, call center operations and connect rates.
                          </p>
                          <h6>Increase Call Connects with Auto Dialers</h6>
                          <p>
                            Outbound call center productivity majorly depends on the number of connected calls and agent talk time, but various constraints like call waiting, unanswered calls, etc can hamper productivity. Dialer software for outbound call center helps to automate the calling process by incorporating intelligence into the dialing process to accelerate operational efficiency while reducing call drop rate.
                            
                          </p>
                          <h6>Reduce Agent Idle Time</h6>
                          <p>
                            Increase your call center agents’ productivity while ensuring high call connect rates using predictive dialer software. It determines the time when the agent will be free to take the call based on configurable dialer algorithms. Post which, it automatically dials out numbers from the set lead list to reduce agent efforts while increasing their productivity.  
                          </p>
                          <h6>Let your Agents have Informed Conversations</h6>
                          <p>
                            Allow your agents or telemarketers to view essential customer information to have qualified conversations. A Preview Dialer displays the customer information on the agent’s screen before a call is connected. Thus, providing them with time to get acquainted with the customer and tweak their sales pitch accordingly. The preview auto dialer is particularly useful when the list contains high-value prospects or customers.
                          </p>
                          <h6>Automate Agent Assignment across Campaigns</h6>
                          <p>
                            Manage multiple dialing processes or campaigns simultaneously with outbound contact center solution. Create, delete, modify campaigns with a single click to ensure optimum utilization of your call center dialer. Also, the outbound agents no longer have to manually select campaigns to proceed with their work. Agents are auto-directed towards the specific campaigns and queues they are assigned thus, improving productivity and reducing the scope of error.
                          </p>
                          <h6>Maximize Agent Productivity</h6>
                          <p>Give your agents the right call center software to work smartly and avoid manual tasks to focus more on customer interactions. With a unified desktop, agents can manage multiple tasks like call handling, accessing customer information within a single window to reduce average agent handling time. Additional features like voicemail drop and scheduling callback enable agents to be more productive by reducing idle time.</p>
                          <h6>No More Manual Dialing</h6>
                          <p>Free your agents from the misery of having to manually dial the contact numbers. Click-to-call API allows you to pull the customer data from your CRM or another third-party system while allowing the agents to simply click on the number to make an outbound call.</p>
        
                          </div>
                          
                        </div>
                    </li>
                </ul>
      
              </div>
            </div>
    
    
          </div>
    
        </section>
      
        
    </div>