<!-- ======= Header ======= -->
<header id="header" class="py-3">
    <div class="container ">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-3">
          <a href="index.html" class="logo"><img src="assets/img/techfadologo.png" /></a>
        </div>
        <div class="col-md-9 col-sm-9 col-9">
          <!-- <nav id="navbar" class="navbar" > -->
            
            <div class="menuIcon" [class.menuIconClass]="menuIconVariable" (click)="openMenu()">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="menu text-end" [class.menuClass]="menuVariable" (click)="openMenu()">
              <ul>
                <li><a class="nav-link  active" routerLink="dashbord/home" routerLinkActive="badge-primary"   href="" >Home</a></li>
                <li><a class="nav-link scrollto page-scroll" routerLink="dashbord/about" routerLinkActive="badge-primary"  href="">About</a></li>
                <li><a class="nav-link scrollto page-scroll" routerLink="dashbord/service" routerLinkActive="badge-primary"  href="#service">Services</a></li>
                <li><a class="nav-link scrollto page-scroll" routerLink="dashbord/contact" routerLinkActive="badge-primary"  href="#contact">Contact</a></li>
                <li><a class="nav-link scrollto page-scroll" routerLink="dashbord/faq"  routerLinkActive="badge-primary" href="#faq">FAQ</a></li>

                <!-- <li><a class="nav-link scrollto page-scroll" routerLink="dashbord/price" routerLinkActive="badge-primary"  href="#price">Price</a></li> -->

                
              </ul>
            </div>
           
            <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
          <!-- </nav> -->
          <!-- .navbar -->
    
        </div>
      </div>

      

      
    </div>
  </header><!-- End Header -->