<!-- ======= Header ======= -->
<header id="header" class="py-3">
    <div class="container ">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-3">
          <a href="index.html" class="logo"><img src="assets/img/techfadologo.png" /></a>
        </div>
        <div class="col-md-9 col-sm-9 col-9">
          <!-- <nav id="navbar" class="navbar" > -->
            
            <div class="menuIcon" [class.menuIconClass]="menuIconVariable" (click)="openMenu()">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="menu text-end" [class.menuClass]="menuVariable" (click)="openMenu()">
              <ul>
                <li><a class="nav-link  active" routerLink="home" routerLinkActive="badge-primary"   href="" >Home</a></li>
                <li><a class="nav-link scrollto page-scroll" routerLink="about" routerLinkActive="badge-primary"  href="">About</a></li>
                <li  (mouseleave)="closeSubDropdown()" ><a class="nav-link scrollto page-scroll nav-link-service" routerLink="service" routerLinkActive="badge-primary"  href="#service"  (mouseover)="callSubDropdown()">Services</a>
                  <div class="sub-dropdown" [class.subMenu]="subMenu"  (mouseover)="callSubDropdown()">
                    <ul class="d-flex " (click)="closeSubDropdown()">
                      <li><a class="nav-link scrollto page-scroll" routerLink="ivr" routerLinkActive="badge-primary"  href="">IVR</a></li>
                      <li><a class="nav-link scrollto page-scroll" routerLink="chat" routerLinkActive="badge-primary"  href="">Chat</a></li>
                      <li><a class="nav-link scrollto page-scroll" routerLink="email" routerLinkActive="badge-primary"  href="">Email</a></li>
                      <li><a class="nav-link scrollto page-scroll" routerLink="socialmedia" routerLinkActive="badge-primary"  href="">SocialMedia</a></li>
                      <li><a class="nav-link scrollto page-scroll" routerLink="inbound" routerLinkActive="badge-primary"  href="">Inbound</a></li>
                      <li><a class="nav-link scrollto page-scroll" routerLink="outbound" routerLinkActive="badge-primary"  href="">Outbound</a></li>
                      <li><a class="nav-link scrollto page-scroll" routerLink="report" routerLinkActive="badge-primary"  href="">Omnichannel Reporting</a></li>
                      <li><a class="nav-link scrollto page-scroll" routerLink="crm" routerLinkActive="badge-primary"  href="">CRM Integrations</a></li>
                      <li><a class="nav-link scrollto page-scroll" routerLink="voiceSystem" routerLinkActive="badge-primary"  href="">Voice System </a></li>
                    </ul>
                  </div>
                  
                </li>
                
                <li><a class="nav-link scrollto page-scroll" routerLink="contact" routerLinkActive="badge-primary"  href="#contact">Contact</a></li>
                <li><a class="nav-link scrollto page-scroll" routerLink="faq"  routerLinkActive="badge-primary" href="#faq">FAQ</a></li>


                
              </ul>
            </div>
           
            <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
          <!-- </nav> -->
          <!-- .navbar -->
    
        </div>
      </div>

      

      
    </div>
  </header><!-- End Header -->