<div id="chat" class="chat">
    <div id="demo" class="carousel slide " data-bs-ride="carousel">
  
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>
  
      <!-- The slideshow/carousel -->
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <img src="/assets/img/ivr/bg-1.jpg" alt="Los Angeles" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/ivr/bg-2.jpg" alt="Chicago" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/ivr/bg-3.jpg" alt="New York" class="d-block w-100">
        </div>
      </div>
  
      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
  </div>
  
      
        <section class="section-bg">
          <div class="container">
            <div class="section-title">
              <h3>Email</h3>
            </div>
    
            <div class="row justify-content-center">
              <div class="col-xl-10">           
    
                <ul class="faq-list">
    
                  <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Increase Agent Efficiency<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                      <p>
                        Customer service email management software 
                        allows to add a note or reply to an email on 
                        Unified Agent Desktop and manage the 
                        interactions coming from multiple channels. 
                        This data could be accessed by the agent, 
                        supervisor or admin at any level and can be 
                        monitored as and when required.
                        
                                            </div>
                  </li>
      
                  <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Canned Response<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                      <p>
                        Email Management Software for Customer 
                        Service reduces human error with 
                        canned responses and eliminate the 
                        mundane task of replying to the same 
                        query multiple times a day. An automatic 
                        reply could be generated for specific queries, 
                        thus increasing agent’s efficiency.                    </p>
                    </div>
                  </li>
                  <li>
                      <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Increase Customer Reach<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                      <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                          Be where your customer wants you to be.
                          Customers are seeking different platforms 
                          to communicate with your business, enable them 
                          with email, web chat, or social media through 
                          easy integration with call center software.                  </p>
                      </div>
                    </li>
                    <li>
                      <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Email Notification<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                      <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                          Get notified on email when a new conversation 
is created. Agents will be informed when a new 
interaction is attached to the new or existing 
conversation and they can access this data to be 
better equipped and resolve the query.
                                         </p>
                      </div>
                    </li>
      
                 
      
                </ul>
      
              </div>
            </div>
    
    
          </div>
    
        </section>
      
        
    </div>