<div class="my-4">
    <div class="container">
        <h5>What are different types of IVR System?</h5>
        <div id="slider">
            <input type="radio" name="slider" id="s11">
            <input type="radio" name="slider" id="s12">
            <input type="radio" name="slider" id="s13" checked>
            
            <label for="s11" id="slide11" class="text-center">
                <div class="p-5">
                    <h4>IVR FOR SELF-SERVICE	</h4>
                    <p>An IVR System or automated voice 
                        allows businesses to service high 
                        call volumes at a lower cost. It can 
                        identify and route callers, and resolve 
                        their queries without transferring 
                        to a live agent. Calls are transferred 
                        to live agents only when the caller 
                        requires further assistance
                        </p>
                </div>
            </label>
            <label for="s12" id="slide12">
                <div class="p-5">
                    <h4>IVR FOR SELF-SERVICE	</h4>
                    <p>An IVR System or automated voice 
                        allows businesses to service high 
                        call volumes at a lower cost. It can 
                        identify and route callers, and resolve 
                        their queries without transferring 
                        to a live agent. Calls are transferred 
                        to live agents only when the caller 
                        requires further assistance
                        </p>
                </div>
            </label>
            <label for="s13" id="slide13">
                <div class="p-5">
                    <h4>IVR FOR SELF-SERVICE	</h4>
                    <p>An IVR System or automated voice 
                        allows businesses to service high 
                        call volumes at a lower cost. It can 
                        identify and route callers, and resolve 
                        their queries without transferring 
                        to a live agent. Calls are transferred 
                        to live agents only when the caller 
                        requires further assistance
                        </p>
                </div>
            </label>
            <!-- <label for="s4" id="slide4"></label>
            <label for="s5" id="slide5"></label> -->
            </div>
    </div>
    
</div>

