<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq ">
    <div class="container" >

      <div class="section-title">
        <h2>F.A.Q</h2>
        <h3>Frequently Asked <span>Questions</span></h3>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>

      <div class="row justify-content-center">
        <div class="col-xl-10">
          <ul class="faq-list">

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What is Call Center Solution? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  A call center solution can help you to cut the cost of your business. It is equipped with features like IVR solutions, call recording, toll-free number, phone proxy, voice mail, audio conferencing, and many more. All the hardware like cables, switchboards, and desk phones are replaced by software.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">What is an Inbound Call Center? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Inbound call centers manage incoming communication of an organization, in terms of calls, texts, emails, and live chat queries. A robust inbound contact center software is leveraged to handle the quantities of incoming calls and to facilitate easy routing of all calls to the right agent. The agent on-call can then easily answer all questions, thereby resolving queries quickly.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What is an Outbound Call Center? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Outbound call centers manage outgoing communication of an organization, reaching/connecting to potential customers and buyers. SMBs, start-ups, and enterprises engage with outbound call center firms to reach out to a targeted list of consumers, through calls, SMS, and emails. Based on the key objectives of the outreach campaign, the right outbound contact center solutions can be leveraged to generate leads and grow sales or receive customer feedback.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">What are the features of Inbound and Outbound Call Centers? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Inbound call centers focus on agent availability and effective call routing with fast query resolution and brand building. They are designed to streamline the incoming call experience with key features like call whispering, barging, mobile apps, CRM integration, etc.</p>
                  <p> On the contrary, outbound call centers enhance the reach to targeted audiences in a more efficient way. It helps in generating leads with its chief feature a ‘dialer’. The basic dialers of DeepCall are manual, automatic, and predictive dialers, which offer several advantages to organizations in terms of effectiveness.
                </p>
              </div>
            </li>

          </ul>


          
        </div>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->