<div id="chat" class="chat">
    <div class="slider">
      <input type="radio" class="slide" id="slide-1" name="slide" checked>
      <input type="radio" class="slide" id="slide-2" name="slide">
      <input type="radio" class="slide" id="slide-3" name="slide">
      <div class="slides">    
  
        <div class="slide slide-1"></div>
        <div class="slide slide-2"></div>
        <div class="slide slide-3"></div>
      </div>
  
    
      <div class="arrows arrow-left">
        <label for="slide-3">
          <span><i class="fa-solid fa-chevron-left"></i></span>
        </label>
        <label for="slide-1">
          <span><i class="fa-solid fa-chevron-left"></i></span>
        </label>
        <label for="slide-2">
          <span><i class="fa-solid fa-chevron-left"></i></span>
        </label>
      </div>
      <div class="arrows arrow-right">
        <label for="slide-2">
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </label>
        <label for="slide-1">
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </label>
        <label for="slide-3">
          <span><i class="fa-solid fa-chevron-right"></i></span>
        </label>
      </div>
    </div>
  
    
      <section class="section-bg">
        <div class="container">
          <div class="section-title">
            <h3>Chat</h3>
          </div>
  
          <div class="row justify-content-center">
            <div class="col-xl-10">           
  
              <ul class="faq-list">
  
                <li>
                  <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Proactive Engagement with Customers<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                  <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        How do you do live chat? Don’t wait for the 
                        customer to ask questions. Live chat software 
                        enables real-­time interaction between agents 
                        and customers. Agents can quickly initiate the 
                        chat with the customer’s browsing through 
                        product page to trigger sales. Be proactive 
                        throughout the buyer’s journey. Customers 
                        appreciate when a brand is sensitive to 
                        their needs and offers help without even asking.
                                          </div>
                </li>
    
                <li>
                  <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Constant Customer Service<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                  <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Customer Support chat software and messages 
                        allow agents to engage with customers via website, 
                        mobile apps and other live chat platforms such as 
                        Facebook Messenger, Twitter, and LINE. Customers 
                        do not have to wait in line, they can easily reach agents and it helps agents to process the information 
                        in lesser time. 
                        The customer can request for a chat session 
                        and the agents can automatically retrieve information 
                        from a knowledge base to quickly respond to 
                        customer inquiries.                    </p>
                  </div>
                </li>
                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Handling Multiple Interaction<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                      <p>
                        A unified desktop with multi-chat service is not 
                        limited to only the chat platforms. Without toggling 
                        between screens, the agents can interact with 
                        customers coming in from multiple channels. 
                        The live chat support software allows 
                        the agents to attend multiple chats simultaneously. 
                        This helps in improving agent productivity 
                        and customers feel happy and satisfied due to 
                        less wait time.                    </p>
                    </div>
                  </li>
                  <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Intelligent Routing<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                      <p>
                        With Omnichannel call center software route active & 
                        passive interactions to the right agent in the first go, 
                        leading to better resource utilization. Transfer the 
                        chat to other agent or supervisor using live chat tools 
                        that helps in delivering exceptional customer experience. 
                        Customer service live chat software makes the 
                        customers feel valued when they are attended 
                        on priority and provided proactive assistance when 
                        they need it.
                                       </p>
                    </div>
                  </li>
    
               
    
              </ul>
    
            </div>
          </div>
  
  
        </div>
  
      </section>
    
      
  </div>