 <!-- ======= Services Section ======= -->
 <section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Services</h2>
      <h3><span>Solutions</span></h3>
      <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
    </div>


    <div class="row justify-content-around align-content-around" >
      <div class="col-md-6 col-lg-4 my-2 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box  " >
            <div class="icon"><i class="fa-solid fa-phone"></i></div>
            <h4 class="title my-1"><a href="#">IVR</a></h4>
            <p class="description">
              Identify and route every customer call to the best-suited agent based on the caller's input with an intelligent IVR system
            </p>
          
          <div class="arrowIcon"><i class="fa-solid fa-chevron-right"></i><a href="#ivr" routerLink="ivr">Read more </a>
            </div>
        </div>
        
      </div>

      <div class="col-md-6 col-lg-4 my-2 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box " >
            <div class="icon"><i class="fa-regular fa-comment-dots"></i></div>
            <h4 class="title my-1"><a href="#">Chat</a></h4>
            <p class="description">
              Use Chat Messeger to initiate and receive interactions from your customers            </p>
          
          <div class="arrowIcon"><i class="fa-solid fa-chevron-right"></i><a  routerLink="chat" href="#chat">Read more</a>
              </div>
        </div>
        
      </div>

      <div class="col-md-6 col-lg-4 my-2 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box  " >
            <div class="icon"><i class="fa-solid fa-phone"></i></div>
            <h4 class="title my-1"><a href="#">EMAIL</a></h4>
            <p class="description">
              Use Chat Messenger to initiate and receive interactions from your customers.             </p>
          
          <div class="arrowIcon"><i class="fa-solid fa-chevron-right"></i> <span>Read more</span>  </div>
        </div>
        
      </div>

      <div class="col-md-6 col-lg-4 my-2 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box  " >
            <div class="icon"><i class="fa-solid fa-phone"></i></div>
            <h4 class="title my-1"><a href="#">SOCIAL MEDIA </a></h4>
            <p class="description">
              Smart contact center solutions diversify your customer interactions with social media platforms and help you be responsive to each interaction personally.             </p>
          
          <div class="arrowIcon"><i class="fa-solid fa-chevron-right"></i> <span>Read more</span>  </div>
        </div>
        
      </div>

      <div class="col-md-6 col-lg-4 my-2 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box  " >
            <div class="icon"><i class="fa-solid fa-phone"></i></div>
            <h4 class="title my-1"><a href="#">INBOUND</a></h4>
            <p class="description">
              Preferred inbound call center  

solution that delivers a great  

IVR and intelligent call center  

routing experience to increase  

First Contact Resolution Rate.
            </p>
          
          <div class="arrowIcon"><i class="fa-solid fa-chevron-right"></i> <span>Read more</span>  </div>
        </div>
        
      </div>

      <div class="col-md-6 col-lg-4 my-2 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box " >
            <div class="icon"><i class="fa-solid fa-phone"></i></div>
            <h4 class="title my-1"><a href="#">OUTBOUND </a></h4>
            <p class="description">
              Best outbound calling software backed  

by intelligent outbound dialers and  

powerful outbound call center features  

to boost customer engagement  

and connect rate. 
            </p>
          
          <div class="arrowIcon"><i class="fa-solid fa-chevron-right"></i> <span>Read more</span>  </div>
        </div>
        
      </div>
      <div class="col-md-6 col-lg-4 my-2 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box  " >
            <div class="icon"><i class="fa-solid fa-phone"></i></div>
            <h4 class="title my-1"><a href="#">OMNICHANNEL REPORTING </a></h4>
            <p class="description">
              Leverage the power of omnichannel  

report with detailed reports  

and customized dashboards  

to measure what matters the most 
            </p>
          
          <div class="arrowIcon"><i class="fa-solid fa-chevron-right"></i> <span>Read more</span>  </div>
        </div>
        
      </div>

      <div class="col-md-6 col-lg-4 my-2 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box  " >
            <div class="icon"><i class="fa-solid fa-phone"></i></div>
            <h4 class="title my-1"><a href="#">CRM INTEGRATIONS </a></h4>
            <p class="description">
              Improve customer communication  

and retention with CRM Integration  

and deliver consistent customer  

service. 
            </p>
          
          <div class="arrowIcon"><i class="fa-solid fa-chevron-right"></i> <span>Read more</span>  </div>
        </div>
        
      </div>
      <div class="col-md-6 col-lg-4 my-2 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box  " >
            <div class="icon"><i class="fa-solid fa-phone"></i></div>
            <h4 class="title my-1"><a href="#">VOICE SYSTEMS </a></h4>
            <p class="description">
              Manage inbound and outbound  

contact center processes to  

make each interaction count.  

Get contextual data of each  

conversation with Voice recording. 
            </p>
          
          <div class="arrowIcon"><i class="fa-solid fa-chevron-right"></i> <span>Read more</span>  </div>
        </div>
        
      </div>

      

    </div>

  </div>
  </section><!-- End Services Section -->

 