<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" >

      <div class="section-title">
        <h2>About</h2>
        <h3>Find Out More <span>About Us</span></h3>
        <p>
          TechFado being a platform build to solve all the customer experience problems offers a robust Contact Center Solution. The Solution aims to enable all organizations – SMEs or Enterprises in managing their customer interactions along with getting rid of siloed operations and workforce management. </p>
                 </div>

      <div class="row">
        <div class="col-lg-6" >
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" >
          
          <ul>
            <li>
              <i class="bx bx-store-alt"></i>
              <div>
                <h5>Vision</h5>
                <p>TechFado is driven by one core vision: By providing a world-class solutions to run your business smarter and more competitively. </p>
              </div>
            </li>
            <li>
              <i class="bx bx-images"></i>
              <div>
                <h5>Mission</h5>
                <p>Our mission is to work for the success of our clients by delivering world-class products and services in an environment of innovation and passion. We focus on working with cliend by providing them end to end IT solutions that best satisfy their needs across business spectrum. </p>
              </div>
            </li>
          </ul>
          
        </div>
      </div>

    </div>
  </section><!-- End About Section -->