<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services ">
    <div class="container" >  
        <div class="row  justify-content-around">
          
          
                <div class="col-md-3 my-3 mx-1">
                    <div class="card-sl">
                        <div class="card-image">
                            <img src="/assets/img/service/service-1.jpg" alt="self service"/>
                        </div>                         
                        <div class="card-heading text-center">
                            <!-- self service -->
                            <h6>Call IVR </h6>
                            <h6> Visual IVR</h6>
                            <h6> Voicebots </h6>
                            <h6>Chatbots</h6>
                        </div>   
                        
                    </div>
                </div>
                
            
                <div class="col-md-3 my-3 mx-1">
                    <div class="card-sl">
                        <div class="card-image">
                            <img src="/assets/img/service/service-2.jpg" />
                        </div>                         
                        <div class="card-heading text-center">
                          Digital
                        </div>                  
                        
                    </div>
                </div>
                <div class="col-md-3 my-3">
                  <div class="card-sl">
                      <div class="card-image">
                          <img src="/assets/img/service/service-1.jpg" />
                      </div>                         
                      <div class="card-heading text-center">
                        self Service
                      </div>                  
                      
                  </div>
              </div>
              <div class="col-md-3 my-3">
                <div class="card-sl">
                    <div class="card-image">
                        <img src="/assets/img/service/service-1.jpg" />
                    </div>                         
                    <div class="card-heading text-center">
                      self Service
                    </div>                  
                    
                </div>
            </div>
            <div class="col-md-3 my-3">
              <div class="card-sl">
                  <div class="card-image">
                      <img src="/assets/img/service/service-1.jpg" />
                  </div>                         
                  <div class="card-heading text-center">
                    self Service
                  </div>                  
                  
              </div>
          </div>
          <div class="col-md-3 my-3">
            <div class="card-sl">
                <div class="card-image">
                    <img src="/assets/img/service/service-1.jpg" />
                </div>                         
                <div class="card-heading text-center">
                  self Service
                </div>                  
                
            </div>
        </div>

          
  
         
  
      </div>
  
    </div>
  </section><!-- End Featured Services Section -->
  